<footer>

    <div class="container-fluid footer-val">
        <div class="row d-flex flex-wrap justify-content-evenly" >
            <div class="col text-center "><a id="foot-value"   href="/privecy">
                This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</a> </div>
        </div>
        <div class="row text-center" >
            <div class="col ">
                <a id="foot-icon"  title="linkedin" href="https://www.linkedin.com/in/harshit-sharma-006b36259?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a>
            <a    id="foot-icon"   href="https://leetcode.com/programming966051/" title="leetcode"><i class="fa-brands fa-github"></i></a>
            <a    id="foot-icon"    href=""><i class="fa-brands fa-twitter"></i></a> 
            </div>
            <div class="row" >
                <div class="col text-center "><a id="foot-fame"   href="/privecy">
                    Copyright 1999-2023 by Refsnes Data. All Rights Reserved</a> </div>
            </div>
        </div>
    </div>
</footer>
