<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/style/romrover.css">
<body>
   
  <h2><b>Welcome to RoamRover</b></h2>
    <!-- <form method="get" action="/listing/new">
        <button>Add New Listing</button>
    </form>-->
   
    <div class="row  row-cols-lg-4  row-cols-md-2 row-cols-sm-1">

    <%for(let dtta of data){%>
        <a class="a-colr" href="/listing/<%= dtta._id %>">  
    <div class="card-col hover"  >
        <img src= "<%=dtta.image %>" class="card-img-top" style="height: 20rem ; /* here we set the all image width*/"  alt="listing image"> 
     
        <div class="card-body">
            <h5 class="card-text"> 
                <%=dtta.title %>
            <br/>

           &#8377 <%=dtta.Price.toLocaleString("en-IN")%>
            

        </h5>
  
        </div>
      </div>
    </a>
      <%}%>

    </div>